__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.venv
venv
env
.env
*.md
doc/
LICENSE
Makefile
docker-compose.yml
Dockerfile
.dockerignore
src/gmail/tokens/*
src/gmail/__pycache__
src/web/__pycache__

